textarea {
  width: 550px;
  height: 150px;
}

.textbox {
  margin-top: 80px;
  margin-bottom: 25px;
  margin-left: 200px;
}

label {
  display: flex;
  justify-content: flex-end;
  width: 400px;
  line-height: 26px;
  margin-left: 125px;
  margin-bottom: 10px;
}

.form-select {
  margin-left: 200px;
}

.display-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 0 auto;
  display: block;
}

.form-control {
  height: 1.5em;
  flex: 0 0 325px;
}

input {
  text-align: center;
}

.insert {
  padding-top: 100px;
  text-align: center;
}
