textarea {
  width: 550px;
  height: 150px;
}

.textbox {
  margin-top: 80px;
  margin-bottom: 25px;
  margin-left: 200px;
}

form {
  margin: 0 auto;
}

label {
  display: flex;
  justify-content: flex-end;
  width: 400px;
  line-height: 26px;
  margin-left: 125px;
  margin-bottom: 10px;
}

.form-select {
  margin-left: 200px;
}

.display-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 0 auto;
  display: block;
}

.form-control {
  height: 1.5em;
  flex: 0 0 325px;
}

.img-container {
  text-align: center;
  margin-top: 50px;
}

body.modal-open div.modal-backdrop {
  z-index: 0;
}

.modal-content {
  word-wrap: break-word;
}

.small-font{
  font-size: small;
}

.modal-content {
  margin: auto;
  border: 3px solid #9dd0fa;
  padding: 10px;
  background-color:aliceblue
}

h3 {
  color:#2695f0
}

