body {
  font-family: sans-serif;
}

textarea {
width: 320px;
height: 200px;
}

.textbox {
 
  margin-top: 80px;
  margin-bottom: 25px;
  margin-left: 200px;
}


label {
  display: flex;
  justify-content: flex-end;
  width: 400px;
  line-height: 26px;
  margin-left:125px;
  margin-bottom: 10px;
}

.passphrase {
  height: 1em;
  flex: 0 0 200px;
  margin-left: 32px;
}

.accessLimit {
  width: 3em;
  height: 1em;
  margin-left: 188px;

}

.expiry {
  width: 3em;
  height: 1em;
  margin-left: 195px;

}

.expiryUnit {
  margin-left: 455px;

}

.button{
  margin-top: 20px;
  margin-left: 350px;
}
h1 {
  font-size: 50px;
  margin-left: 20px;
  display: inline;
}


h2 {
  font-size: 20px;
  margin-left: 400px;
  display: inline;
}